.App {
  margin: 60px;
  /* background-color: red; */
  display: flex;
}

.column {
  background-color: white;
  width: 33.3333%;
  /* margin: 10px; */
}

.col1row {
  background-color: white;
  height: 400px;
  margin: 30px 15px;
  border: 1px solid grey;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.col2row {
  background-color: white;
  margin: 30px 15px;
  border: 1px solid grey;
  border-radius: 10px;
}

.col3row {
  background-color: white;
  height: 450px;
  margin: 30px 15px;
  border: 1px solid grey;
  border-radius: 10px;
}

.col1head {
  left: 10px;
}

.assessment1 {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.assess {
  margin-top: 20px;
  display: flex;
}
.assessment {
  height: 100px;
}
